commands:
  00-updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update --2

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_ALLOW_SUPERUSER
    value: 1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_NAME
    value: Maker
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_ENV
    value: local
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_KEY
    value: base64:alN14intuM+axmyXb4UtjqycHID9bC4o9CF1Fxl4k3Y=
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_DEBUG
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_URL
    value: http://maker-backoffice.us-east-1.elasticbeanstalk.com/
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_CHANNEL
    value: stack
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_DEPRECATIONS_CHANNEL
    value: null
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: debug
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_CONNECTION
    value: mysql
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: maker-admin.czkgozajwx7n.us-east-1.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PORT
    value: 3306
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_DATABASE
    value: maker-admin
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_USERNAME
    value: admin
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_PASSWORD
    value: Andr3s1t0202E
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: BROADCAST_DRIVER
    value: log
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CACHE_DRIVER
    value: file
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FILESYSTEM_DISK
    value: local
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: QUEUE_CONNECTION
    value: sync
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SESSION_DRIVER
    value: database
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SESSION_LIFETIME
    value: 120

container_commands:
  01-optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"